.badge-content-left {
    border-radius: 20%;
   
    height: 48px;
    width: 48px;
    margin-right: 7%;
    margin-bottom: 22px;
}

.table th, .table td {
    border: 1px !important;
}

.imager{
	border-radius: 20%;
}